html {
    background-color: steelblue;
    display: flex;
    justify-content: center;
}

body {
    width: 50%;
}

header, main {
    background-color: aliceblue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header h3 {
    align-self: flex-end;
    font-weight: lighter;
}

header, main {
    border-radius: 6px;
    padding-left: 5%;
    padding-right: 5%;
}

header, main, footer {
    font-family: monospace;
    margin-top: 1%;
}

main {
    padding-top: 3%;
    min-height: 70vh;
}

.note {
    padding-top: 2%;
    font-weight: lighter;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.date {
    font-size: medium;
}

.note a {
    margin-top: 1%;
}

footer {
    text-align: center;
}

header a, header a:visited, header a:hover, header a:active {
  color: inherit;
  text-decoration-line: none;
}