html {
    background-color: #393838;
    color: #ffffff;
    font-family: verdana, monospace, sans-serif;
}

article {
    margin-top: 1%;
    margin-left: 25%;
    width: 50%;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 300%;
    color: rgb(60, 194, 204);
}

p {
    font-size: 150%;
	float: none;
}

footer {
    font-size: 200%;
}

footer #github {
    color: #141414;
}

footer #twitter {
    color: #000000;
}

a {
    text-decoration: none;
}

p a {
    color: rgb(36, 171, 180);
}

div {
    margin-bottom: 2%;
}

nav#links a {
    font-size: 200%;
    color: rgb(26, 167, 177);
    text-decoration: none;
    display: inline-block;
    margin-right: 1%;
    margin-top: 0px;
}
