html {
    background-color: #393838;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 400%;
    color: rgb(30, 142, 56);
}

p {
    font-size: 150%;
    max-width: 45%;
    margin: 0 auto;
	float: none; 
}

footer {
    font-size: 200%;
}

footer #github {
    color: #010409;
}

footer #twitter {
    color: #1DA1F2;
}

footer #codewars {
    color: #B1361E;
}

nav#links a {
    text-align: left;
    font-size: 200%;
    color: greenyellow;
    text-decoration: none;
    display: inline-block;
    margin-right: 1%;
    margin-top: 0px;
}
